<html>
<head>
  <style>
    body {
      background-color:orange;
    }
    h1 {
      font-family: Algerian;
      color: green;
    }
    p {
      font-style: arial;
      color: blue;
    }
    td {
      color: red;
    }
    li {
      color: red;
    }
  </style>
</head>
<body>
  <h1></h1>
  <p></p>
</body>
</html>
 
 
     
  
   